#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.PageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.navWrapper {
  display: flex;
  flex-direction: row;
}
.explainationWrapper {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-self: flex-start;
  align-self: center;
}
.Nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  justify-self: center;
  align-self: center;
}
.Title {
}
.GameSearch {
  width: 300px;
  height: 20px;
}

.GameWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.CardWrapper {
  flex: 1 1 calc(20% - 10px); /* Adjusted to ensure proper calculation */
  box-sizing: border-box;
  margin: 5px;
  position: relative;
  /* Setting the aspect ratio, for example, 1:1 (square) */
  padding-top: 3%; /* This sets the height to 20% of the width */
}

.CardWrapper::before {
  content: "";
  display: block;
  padding-top: 100%; /* This maintains the 1:1 aspect ratio */
}

.CardWrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container without distortion */
}
